html body.login{
    background: url(../images/background.png) left top repeat;
}
#login{
    padding-top:50px;
}
#login h1 { 
    display: block;
    position: relative;
    margin-bottom:25px;
}
#login h1 a { 
    background: transparent url(../images/mainLogoRibbon.png) no-repeat top center;
    display: block;
    width: 312px;
    height:153px;
}
#login h1 a{
    background-size:256px 153px;
}

body.login {
    background-color: #fff;
}
